<h1><%= @post.title  %> by <%= @post.user.username %></h1>
<h4>Content</h4>
<p><%= @post.content %></p>
<a href="<%= new_post_url%>">New Post!</a>
<ul>
  <% @post.subs.each do |sub| %>
  <li>
    <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
  </li>
  <% end %>
</ul>
<h2>Comments</h2>
<a href="<%= new_post_comment_url(@post) %>">Comment on This Post!</a>

<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <a href="<%= comment_url(comment) %>"><%= comment.title %></a>
  </li>
  <% end %>
</ul>